Data mining project about social media trends

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("atharvasoundankar/viral-social-media-trends-and-engagement-analysis")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.11)
Downloading from https://www.kaggle.com/api/v1/datasets/download/atharvasoundankar/viral-social-media-trends-and-engagement-analysis?dataset_version_number=1...

100%|██████████| 105k/105k [00:00<00:00, 351kB/s]

Extracting model files...
Path to dataset files: C:\Users\kizer\.cache\kagglehub\datasets\atharvasoundankar\viral-social-media-trends-and-engagement-analysis\versions\1

In [5]:
import pandas as pd

path_file = path + "\\Viral_Social_Media_Trends.csv"

data = pd.read_csv(path_file)

data.head()

,Post_ID,Platform,Hashtag,Content_Type,Region,Views,Likes,Shares,Comments,Engagement_Level
0,Post_1,TikTok,#Challenge,Video,UK,4163464,339431,53135,19346,High
1,Post_2,Instagram,#Education,Shorts,India,4155940,215240,65860,27239,Medium
2,Post_3,Twitter,#Challenge,Video,Brazil,3666211,327143,39423,36223,Medium
3,Post_4,YouTube,#Education,Shorts,Australia,917951,127125,11687,36806,Low
4,Post_5,TikTok,#Dance,Post,Brazil,64866,171361,69581,6376,Medium